<div id="timeline_slider">
    <div class="rail">
        <div class="handle" {{bindAttr style="handleStyle"}}>
        </div>
        {{#each years}}
            <span class="marking" {{bind-attr style=controller.markingWidth}}>{{this}}</span>
        {{/each}}
    </div>
</div>
