/* Put your CSS here */
html, body {
    margin: 20px;
}

@keyframes domChanged { from { background: yellow; } }
@-webkit-keyframes domChanged { from { background: yellow; } }
.ember-view { animation: domChanged 1s; -webkit-animation: domChanged 1s; }

body{
	background-color:#9faaa4;
	}
#migrationApp{
	width:1024px;
	height:768px;
	margin:0 auto;
	position:relative;
	background:transparent url(../images/migration_bg.png) no-repeat left top;
	}
article.migration{
width : 100px;
display:inline-block;
margin:5px;
border:1px solid #dddddd;
background-color:#eee;
padding:5px;
}
div#timeline{
	position:fixed;
	bottom:0;
	border:1px solid #ddd;
	padding:4px;
	background-color:#eee;
	margin:0 auto;
	}
svg.migration{
	position:absolute;
	top:0;
	left:0;
	}
#timeline_slider {
    border: 1px solid #000;
    bottom: 10px;
    height: 50px;
    left: 50%;
    margin-left: -200px;
    position: fixed;
    width: 400px;
    z-index: 999;
    background-color: #F8F8FF;
    border-radius: 10px;
    }
	.rail{
		width:100%;
		height:4px;
		background-color:#666;
		border:1px solid #ccc;
		position:absolute;
		top:50%;
		}
    .marking {
        font-size: 10px;
        font-family: arial;
        text-align: left;
        position: relative;
        top: 3px;
        border-left: 1px solid #000;
        box-sizing: border-box;
    }
    text {
        font-family: arial;
        font-size: 12px;
        fill: #0D577A;
        font-weight: bold;
    }
    .handle {
        background-color: #BC0000;
        border: 7px solid #F80B0B;
        border-radius: 76px 76px 0 0;
        box-shadow: 0 0 2px #444;
        height: 8px;
        left: 0;
        position: absolute;
        top: -23px;
        width: 1px;
        z-index: 99;
        }
    .fixed-header {
        margin: 0;
        position: fixed;
        left: 50%;
        width: 300px;
        line-height: 32px;
        background: #F5F5DC;
        overflow: hidden;
        margin-left: -150px;
        color: #B8860B;
        text-align: center;
        border-radius: 10px;
        border: 1px solid #A52A2A;
        font-family: arial;
        font-size: 16px;
        }
    path{
        stroke-width: 3px;
        fill:none;
        fill: none;
        shape-rendering: auto;
        stroke-linecap: round;
        }
